
table{
	margin: 1% 10%;
	font-family: 'Apple Chancery', sans-serif;
	}

h1{

  font-family: 'Courier New', cursive;
  text-align: center;
}

th
{
  font-family:cursive;
  font-size: 15px;
  color: black;
  text-align: center;
}
td
{
  font-family:cursive;
  font-size: 15px;
  color: white;
  text-align: center;
}

footer{
	 background-color: green;
   color: white;
   text-align: center;
   margin: 1% 35%;
}

.jup{
    background-color:turquoise;
    text-align: center;
}

.ura{
    background-color:darkgrey;
    text-align: center;
}

.mer{
    background-color:lightblue;
    text-align: center;
}

.ear{
    background-color:lavender;
    text-align: center;
}

.pla{
    text-align: left;
    font-family: 'Slabo 40px', serif;
}

.head{
    background-color:brown;

