div{
	background-color: red;
	margin: 5% 20% 7% 20%;
	padding: 3% 3% 3% 3%;
}


body{
	margin: 0; 
	background-image:url(images/backgroun.jpg); 
	background-size: 1500px 843px;
	background-repeat: no-repeat;
}


header{
	background-color: red;
	color: blue;
	text-allign: center;
}

.jup{
    background-color: rgb(120, 182, 202);
}

.ura{
    background-color: lightgoldenrodyellow;
}

.mer{
    background-color: lightpink;
}

.ear{
    background-color: lightgrey;
}


#planet_names{
    background-color: white;
    font-family: 'VT323', monospace;
}